@font-face {
  font-family: "Noto Sans JP";
  src: local("../fonts/NotoSansCJKjp-Regular.woff"),
    url("../fonts/NotoSansCJKjp-Regular.woff");
  font-weight: normal;
}

@font-face {
  font-family: "Noto Sans JP";
  src: local("../fonts/NotoSansCJKjp-Medium.woff"),
    url("../fonts/NotoSansCJKjp-Medium.woff");
  font-weight: 500;
}

@font-face {
  font-family: "Noto Sans JP";
  src: local("../fonts/NotoSansCJKjp-Bold.woff"),
    url("../fonts/NotoSansCJKjp-Bold.woff");
  font-weight: bold;
}

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Pacifico&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-moz-selection {
  background-color: #287ae0;
  color: #fff;
}

::selection {
  background-color: #287ae0;
  color: #fff;
}

img::selection {
  background-color: #fff;
}

html {
  font-size: 62.5%;
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 850px) {
  html {
    font-size: 62.5%;
  }
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: bottom;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}
